.one {
  border: 2px solid blue;
  /* padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px; */
  /* padding:20px; */
  /* padding: 10px 20px 10px 20px; */
  padding: 10px 20px;

  height: 50px;
  width: 50px;
  box-sizing: border-box;
  margin: auto;
}

.two {
  border: 2px solid red;
}
